p {
    color: black;
    font-family: "Arial", sans-serif;
    font-size: 15px;
    text-align: center;
    border-style: solid; 
    border-width: 2px;
    border-color: black;
    border-radius: 100px;
    background-color: pink; 
  }
 
  h1 {
    font-family: "Arial", sans-serif;
    color: black;
    border-style: solid; 
    border-radius: 10px;
    text-align: center;
    border: 5px solid pink;
    background-color:#d5edb3 ;
    padding: 20px 10px; 
  }

  h2 {
    background-color: #d5edb3;
    color:#191970;
    text-align: center;
    border-bottom: 2px dashed #191970;
    background-color: #d5edb3;
    color: #5c743d; 
    font-family: system-ui
  }
  h3 {
    text-align: center;
  }
 
  ul {
    list-style: square;
    color: orange;
  }
  
  div {  
    background-color: yellow;
    text-align: center;
    border-style: dotted; 
    border-width: 5px;
    border-color: turquoise;
    border-radius: 100px;
    font-family: "Arial", sans-serif;
    background-image: url('pmarmori.png')
  }